<!DOCTYPE html>
<html>
<head>
<title>Payment</title>
</head>

<body style="font-family:Arial;text-align:center;margin-top:100px;">

<h1>Proceed to Payment</h1>

<p>Select Payment Method</p>

<input type="radio" name="pay"> UPI <br>
<input type="radio" name="pay"> Debit / Credit Card <br>
<input type="radio" name="pay"> Cash on Delivery <br><br>

<button style="padding:10px 20px;background:green;color:white;border:none;border-radius:5px;">
Pay Now
</button>

<br><br>

<a href="/">Back to Home</a>

</body>
</html>